# **PTUA 2026 Lecture 3-1**

# **This lecture will review python basics, including data types and flow controls**

## **Python indentation**

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

**Below are the rules:**
1. The number of spaces is up to you as a programmer, but it has to be at least one.
2. You have to use the same number of spaces in the same block of code, otherwise Python will give you an error.

In [1]:
if 2 < 6:
  print("Two is smaller than six!")

Two is smaller than six!

In [3]:
if 2 < 6:
  print("Two is smaller than six!")
   print("This line is also inside the if-block because it aligns.")
print("This prints regardless because it is outside the block.")

IndentationError: unexpected indent (1151764074.py, line 3)

## **Python Variable**

1. In Python variables are created the moment you assign a value to it:
2. Variables do not need to be declared with any particular type and can even change type after they have been set.
3. String variables can be declared either by using single or double quotes.
4. Convention for naming a variable is:
*   A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 
*   A variable name must start with a letter or the underscore character
*   A variable name cannot start with a number
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

In [4]:
x = 4

In [5]:
y = "John"

In [6]:
print(x)

4

In [7]:
print(y)

John

## Python data types:
Variables can store data of different types, and different types can do different things.

The list/string index starts with 0 in Python.

Python has the following data types built-in by default, in these categories:

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool

In [8]:
# define a string
x1 = "Hello World"
# define a list
x2 = [1,2,4]
# the element type in a list could be different
x3 = ["Hi", 4, [1,2,4,5]]
# define a range
x4 = range(6)
# define a number
x5 = 5
# define a tuple
x6 = (1,2,4)

In [9]:
print(x1)
print(x2)
print(x3)
print(x4)
print(x5)
print(x6)

Hello World
[1, 2, 4]
['Hi', 4, [1, 2, 4, 5]]
range(0, 6)
5
(1, 2, 4)

In [10]:
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))

<class 'str'>
<class 'list'>
<class 'list'>
<class 'range'>
<class 'int'>
<class 'tuple'>

The main difference between list and tuple is that list is mutable (can be easily changed) and tuple is immutable (cannot be changed).

In [11]:
# Lists are mutable
fruits_list = ["apple", "banana", "orange"]

# We can change an element
fruits_list[1] = "blueberry" 

# We can add an element
fruits_list.append("strawberry")

print(fruits_list)

['apple', 'blueberry', 'orange', 'strawberry']

In [12]:
fruits_tuple = ("apple", "banana", "orange")

# Trying to change an element will crash the program
fruits_tuple[1] = "blueberry"

TypeError: 'tuple' object does not support item assignment

### Boolean Type
Booleans represent one of two values: `True` or `False`.
They are often the result of comparing two values.

In [13]:
is_student = True
is_teacher = False

print("Is this user a student?", is_student)
print("Type of is_student:", type(is_student))

# Comparison operations return Booleans
x = 10
y = 5

print("Is x greater than y?", x > y)
print("Is x equal to y?", x == y)

Is this user a student? True
Type of is_student: <class 'bool'>
Is x greater than y? True
Is x equal to y? False

### Sets
Sets are collections that are unordered and unindexed.
Crucially, sets do not allow duplicate values. They are defined using curly brackets `{}` like dictionaries, but without key-value pairs.

In [14]:
# Define a set with some duplicate values
# Note that 'apple' appears twice here
fruits_set = {"apple", "banana", "cherry", "apple"}

print(fruits_set)
# Notice in the output that the second 'apple' is automatically removed!

# You can add items to a set
fruits_set.add("orange")
print("After adding orange:", fruits_set)

# You can check if an item exists in a set (very fast operation)
print("Is banana in the set?", "banana" in fruits_set)

{'banana', 'cherry', 'apple'}
After adding orange: {'banana', 'orange', 'cherry', 'apple'}
Is banana in the set? True

## Assign Value to Multiple Variables
1. Python allows us to assign values to multiple variables in one line.
2. We can also assign the same value to multiple variables in one line.

In [19]:
x, y, z = "Orange", 2.5, [1,3,4]

In [20]:
print(z)

[1, 3, 4]

## Output Variable values

1. The Python print statement is often used to output variables.
2. f-string is the most popular print function in modern python now.

In [23]:
# You can use comma to print multiple variables 
print("x's value is: ", x, y) 
print("y's value is: %.2f" % y) # use outout format to write out y's value. %d means integer. %s means string
print("z's value is: %s" % z) # convert a list (z) to a string type (%s) when printing it
print("z's value is: %s, %s" % (y,z)) # format to use when you want to output multiple variables
                                      # here y can also be printed as a string, so we used %s in the statement

x's value is:  Orange 2.5
y's value is: 2.50
z's value is: [1, 3, 4]
z's value is: 2.5, [1, 3, 4]

In [24]:
print(type(y))

<class 'float'>

In [25]:
# Using f-strings (formatted string literals)
# This is the preferred way to format strings in modern Python.

x = "Orange"
y = 2
z = [1, 3, 4]

print(f"x's value is: {x}")

# You can do math or logic directly inside the curly brackets
print(f"y's value plus one is: {y + 1}")

# Formatting numbers (e.g., 2 decimal places)
price = 59.999
print(f"The price is: {price:.2f}")

# Printing raw lists easily
print(f"z's value is: {z}")

x's value is: Orange
y's value plus one is: 3
The price is: 60.00
z's value is: [1, 3, 4]

### List examples:

In [27]:
#Get access to an element in a list, using its index which starts from 0, end at the length of list minus 1
#so x3[0] will return the first element in the list, and x3[2] will return the last element in the list. 
x3 = ["Hi", 4, [1,2,4,5]]
print(x3[0])
print(x3[1])
print(x3[2])
print(x3[-1])
# Question: what's the result if I print(x3[-1])?

Hi
4
[1, 2, 4, 5]
[1, 2, 4, 5]

In [28]:
#you may add an element to a list by using .append()
x3 = ["Hi", 4, [1,2,4,5]]
print(x3)
x3.append(4)
print(x3)
x3.append([1,2,3])
print(x3)

['Hi', 4, [1, 2, 4, 5]]
['Hi', 4, [1, 2, 4, 5], 4]
['Hi', 4, [1, 2, 4, 5], 4, [1, 2, 3]]

In [29]:
x3.remove?

Signature: x3.remove(value, /)
Docstring:
Remove first occurrence of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

In [32]:
# Remove an item by value
print(x3)
# Let's remove the number 4 from the list
x3.remove(4)
print("List after removing 4:", x3)

['Hi', [1, 2, 4, 5], 4, [1, 2, 3]]
List after removing 4: ['Hi', [1, 2, 4, 5], [1, 2, 3]]

### Dictionary examples:

In [33]:
# define a dictionary, a dictionary is a key-value pair
fruits = {1: "Orange", 2: "Pear"}
print(fruits)

{1: 'Orange', 2: 'Pear'}

In [34]:
# access fruits element by referring to its key
print(fruits[1])
print(fruits[2])

Orange
Pear

In [35]:
# you can alter the value by referring to its key
fruits[2] = "Water Melon"
print(fruits)

{1: 'Orange', 2: 'Water Melon'}

In [37]:
# you may add a new item to the dictionary, you do not need to follow the order of the key. 
fruits[4] = "Mango"
fruits["x1"] = "Grapes"
print(fruits)

{1: 'Orange', 2: 'Water Melon', 4: 'Mango', 'x1': 'Grapes'}

### More about String
1. The strip() method removes any whitespace from the beginning or the end
2. The lower() method returns the string in lower case
3. The upper() method returns the string in upper case
4. The replace() method replaces a string with another string
5. The split() method splits the string into substrings if it finds instances of the separator
6. Use the format() method to insert numbers into strings
7. Use index() to search for a specified value in the string and returns the position of where it was found
8. Use start and end index position to get a substring 
9. The calling method is variableName.MethodName() (**MethodName** can be replaced by the above method name)

In [38]:
a = "Hello World!"
print("string 'a' is: ", a)
b = a.lower()
print("Lowercase of string 'a': ", b)
c = a.upper()
print("Uppercase of string 'a':",c)
print("'a' split by space becomes:", a.split(" "))

string 'a' is:  Hello World!
Lowercase of string 'a':  hello world!
Uppercase of string 'a': HELLO WORLD!
'a' split by space becomes: ['Hello', 'World!']

In [39]:
c = "helloworld"
# Print the first 3 characters of the string
print(c[0:3])
# Print the last 4 characters of the string
print(c[-4:])
# Print all the characters except the last one 
print(c[:-1])

hel
orld
helloworl

In [40]:
d = "   a    Hello  World   b   "
# Remove white space by strip function and split into single words
e = d.strip().split()
print(e)

['a', 'Hello', 'World', 'b']

### More about List
1. A list is a collection which is ordered and changeable. In Python lists are written with square brackets.
2. You access the list items by referring to the index number, 0 refers to the first item, 1 refers to the second item, etc.
3. Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.
4. You can specify a range of indices by specifying where to start and where to end the range. When specifying a range, the return value will be a new list with the specified items.
5. Specify negative indexes if you want to start the search from the end of the list.
6. To change the value of a specific item, refer to the index number.
7. The biggest difference between list and tuple is their Mutability. List can be modified easily, but you cannot modify tuble once you generate it.

In [41]:
def visualize_indexing(data):
    """
    Prints a diagram of the positive and negative indices for a given string or list.
    """
    # Convert list to string representation for display if needed
    if isinstance(data, list):
        items = [str(x) for x in data]
    else:
        items = list(data)
        
    n = len(items)
    
    # Create the rows
    header =  "Items:    " + "  ".join(f"{item:>3}" for item in items)
    pos_idx = "Positive: " + "  ".join(f"{i:>3}" for i in range(n))
    neg_idx = "Negative: " + "  ".join(f"{-n+i:>3}" for i in range(n))
    
    print(header)
    print(pos_idx)
    print(neg_idx)

# Example Usage:
visualize_indexing("PTUA2026")
print("-" * 30)
visualize_indexing(["apple", "banana", "cherry"])

Items:      P    T    U    A    2    0    2    6
Positive:   0    1    2    3    4    5    6    7
Negative:  -8   -7   -6   -5   -4   -3   -2   -1
------------------------------
Items:    apple  banana  cherry
Positive:   0    1    2
Negative:  -3   -2   -1

In [42]:
student_year = ["freshman", "sophomore","junior", "senior"]
print("this list is:", student_year)

this list is: ['freshman', 'sophomore', 'junior', 'senior']

In [43]:
# example for accessing item
print("Example for accessing item:")
print(" 1st item:", student_year[0])
print(" 2nd item:", student_year[1])
print(" 3rd item:", student_year[2])
print(" 4th item:", student_year[3])

Example for accessing item:
 1st item: freshman
 2nd item: sophomore
 3rd item: junior
 4th item: senior

In [44]:
# negative indexing
# to access the last item of the list
print("Last item of the list is: ", student_year[-1])

Last item of the list is:  senior

In [46]:
# range of indexes
# provide the start and end index, the item at end index will not be returned.
# if you want to return the second and third item of studentyear list,
# you need to use student_year[1:3]
# student_year[1] and student_year[2] will be returned as a list
# student_year[3] will not be returned
print("The second and third items of the list: ",student_year[1:3])
print("The last three items of the list: ",student_year[1:10])
print("The last three items of the list: ",student_year[1:])

The second and third items of the list:  ['sophomore', 'junior']
The last three items of the list:  ['sophomore', 'junior', 'senior']
The last three items of the list:  ['sophomore', 'junior', 'senior']

In [47]:
# get list length
print("Length of student_year is: ", len(student_year))

Length of student_year is:  4

In [48]:
# remove item by value
student_year.remove("freshman")
print("this list becomes %s after removing item 'freshman'" % student_year)

this list becomes ['sophomore', 'junior', 'senior'] after removing item 'freshman'

In [49]:
# remove item by index
# remove the last item
del student_year[-1]
print("student_year becomes %s after removing last item"  %student_year)

student_year becomes ['sophomore', 'junior'] after removing last item

In [50]:
# if you want to save the last time before removing it
# you can assign this value to new variable
temp = student_year[-1]
# and then try the del sentence again
del student_year[-1]
print("student_year becomes %s after removing last item '%s'" % (student_year,temp))

student_year becomes ['sophomore'] after removing last item 'junior'

### More about Dictionary
1. A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.
2. You can access the items of a dictionary by referring to its key name, inside square brackets.
3. There is also a method called get() that will give you the same result.
4. You can change the value of a specific item by referring to its key name.
5. Adding an item to the dictionary is done by using a new index key and assigning a value to it.
6. Remove an item using pop(), popitem(), or del.
7. You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2. There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [51]:
cardict = {
  "brand": "Tesla",
  "model": "Model S",
  "year": 2023
}
print("cardict is: ", cardict)

cardict is:  {'brand': 'Tesla', 'model': 'Model S', 'year': 2023}

In [52]:
# reassign value
cardict["year"] = 2025
print("cardict is: ", cardict)

cardict is:  {'brand': 'Tesla', 'model': 'Model S', 'year': 2025}

In [133]:
# two ways to get access to the item
# get car brand
print("brand is: ", cardict["brand"])
# get car model
print("model is: ", cardict["model"])
# get year
print("year is:", cardict.get("year"))

brand is:  Tesla
model is:  Model S
year is: 2025

In [53]:
# add an item
cardict["color"] = "red"
print("cardict is: ", cardict)

cardict is:  {'brand': 'Tesla', 'model': 'Model S', 'year': 2025, 'color': 'red'}

In [54]:
# remove item with specified key name
cardict.pop("model")
print("cardict becomes %s after removing 'model" % cardict)

cardict becomes {'brand': 'Tesla', 'year': 2025, 'color': 'red'} after removing 'model

In [55]:
# remove the last inserted item by popitem()
item = cardict.popitem()
print("cardict becomes %s after removing %s" % (cardict,item))

cardict becomes {'brand': 'Tesla', 'year': 2025} after removing ('color', 'red')

In [56]:
# use del to remove the item with the specified key name
del cardict["brand"]
print("cardict becomes %s after removing the item 'brand'" % cardict)

cardict becomes {'year': 2025} after removing the item 'brand'